version: '3.8'

services:
  flask:
    build: .
    ports:
      - "5002:5000"
    depends_on:
      - mongo
    networks:
      - app-network
    environment:
      - FLASK_ENV=development

  mongo:
    image: mongo:latest
    ports:
      - "27017:27017"
    networks:
      - app-network
    volumes:
      - mongo-data:/data/db

networks:
  app-network:
    driver: bridge

volumes:
  mongo-data: